* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #000;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
}

.nav li:hover {
    background: rgb(205, 99, 0);
    transition: background .3s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 40px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../media/regis-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.card {
    width: 300px;
    background-color: #444444;
    padding: 20px;
    border-radius: 5px;
    border-top: 4px solid rgb(205, 99, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
input {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
  
.login-button {
    padding: 10px 20px;
    background-color: rgb(205, 99, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.register-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
  
@media (max-width: 480px) {
    .card {
      width: 100%;
      max-width: 300px;
    }
}
  