* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #000;
    width: 100vw;
    height: 60px;
    position: absolute;
}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
}

.nav li:hover {
    background: rgb(205, 99, 0);
    transition: background .3s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 40px;
}